.ga-maamli-regular {
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.navigationbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.navigationbar li {
    margin: 0 10px;
}

.navigationbar a {
    text-decoration: none;
    color: black;
    font-weight: 750;
    padding: 7px 1px;
}
.navigationbar a:hover {
    background-color: #897878;
    border-radius: 8px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #987116;
    padding: 15px 0;
}
main img {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #e1bebe;
    color: black;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.displayflex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 120px);
    padding: 20px;
}

.gridfiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
